'editor':
  'fontSize': 16
  'preferredLineLength': 120
  'fontFamily': 'Inconsolata'
'core':
  'ignoredNames': [
    '.bundle'
  ]
  'audioBeep': false
  'themes': [
    'unity-ui'
    'monokai'
  ]
  'projectHome': '/Users/josh/Code'
'exception-reporting':
  'userId': '8dc2a034-5c29-efd5-99f5-b27cfd7a357c'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'fb0b9d7432d3d90209d7e0e452e3c20f8c5969c2'
'whitespace':
  'ensureSingleTrailingNewline': false
